# Gurobi WLS license credentials — template.
# Copy this file to `.env` and fill in your own license. `.env` is git-ignored
# so real secrets never enter version control.
GRB_WLSACCESSID=your-wls-access-id
GRB_WLSSECRET=your-wls-secret
GRB_LICENSEID=your-license-id
